@font-face {
  font-family: "Pretendard-Regular";
  src: url("./assets/font/pretendard-regular.woff2") format("woff2"),
    url("./assets/font/pretendard-regular.woff") format("woff"),
    url("./assets/font/pretendard-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/poppins-regular.woff2") format("woff2"),
    url("./assets/font/poppins-regular.woff") format("woff"),
    url("./assets/font/poppins-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/poppins-medium.woff2") format("woff2"),
    url("./assets/font/poppins-medium.woff") format("woff"),
    url("./assets/font/poppins-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/poppins-semiBold.woff2") format("woff2"),
    url("./assets/font/poppins-semiBold.woff") format("woff"),
    url("./assets/font/poppins-semiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A;
}
